<html>
<head>
  <title>Google</title>
  <style>
    body {
      font-family: Arial, sans-serif;
    }
    .search-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

    .search-icon-left,
    .search-icon-right {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }

    .search-icon-left {
      left: 675px;
    }

    .search-icon-right {
      right: -1000px;
    }

    .search-input {
      padding-left: 30px;
      border: 3px solid #ccc;
      border-radius: 50px; 
      margin: 0 auto; 
      justify-content: center;
      align-items: center;
      width: 50%; 
      height: 40px;;
      color:grey;
      box-shadow: inset; 
    }
    .icon-container {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 45px; 
    }
    .icon {
      border: none;
      margin: 0 auto; 
      margin-left: 32%;
    }
    .icon-button {
      background-color: transparent;
      border: none;
      padding: 0;
      cursor: pointer;
    }
    .logo {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50px;
      padding: 10px;
      width: 600px;
      height: 150px;
      margin-top: 6%;
      margin-left: 33%;
    }
    </style>
    </head>
    <body>
      <div>
        <img class="logo" src= "/img/google.png">
      </div><br>
      <div class="search-container">
        <span class="search-icon-left">
          <img src="/img/q.png">
        </span>
        <input type="text" class="search-input" value="Google 검색 또는 URL 입력">
        <span class="search-icon-right">
          <img src="/img/voice.png">
        </span>
      </div>
      <br><br>
      <div class="icon-container">
        <button class="icon-button">
          <div class="icon">
            <img src="/img/naver.png">
          </div>
          <span>NAVER</span>
        </button>
        <button class="icon-button">
          <div class="icon">
            <img src="/img/citek.png">
          </div>
          <span>씨테크 메일</span>
        </button>
        <button class="icon-button">
          <div class="icon">
            <img src="/img/citek2.png">
          </div>
          <span>(주)씨테크시..</span>
        </button>
        <button class="icon-button">
          <div class="icon">
            <img src="/img/data.png">
          </div>
          <span>데이터 가공</span>
        </button>
        <button class="icon-button">
          <div class="icon">
            <img src="/img/goorm.png">
          </div>
          <span>구름</span>
        </button>
      </div><br><br>
      <div class="icon-container">
        <button class="icon-button">
          <div class="icon">
            <img src="/img/papago.png">
          </div>
          <span>papago</span>
        </button>
        <button class="icon-button">
          <div class="icon">
            <img src="/img/gpt.png">
          </div>
          <span>chatgpt</span>
        </button>
        <button class="icon-button">
          <div class="icon">
            <img src="/img/okky.png">
          </div>
          <span>오키</span>
        </button>
        <button class="icon-button">
          <div class="icon">
            <img src="/img/go.png">
          </div>
          <span>바로가기 추가</span>
        </button>






      </div>
    </body>
